body{
margin: 0;
}
/* .cover{
    position:relative;
} */
#imageO{
    position: relative;
    left:170px; 
    border-bottom: 8px solid #9e4625;
    border-radius: 0 0 4px 4px;
    height:350px;
    width:1200px;
    z-index: 1;
    
}
#imageT{
    position:absolute;
    right:650px; 
    top:200px;
    z-index: 2;
    /* width:800px; */
    height: 100px;
}
#imageO:hover {
    transform: scaleX(-1);
  }
  .topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
  }
